{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ru-ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер задач Hexlet</title>
    {% bootstrap_css %}
</head>

<body class="d-flex flex-column min-vh-100">
    {% if user.is_authenticated %}
    {% include "auth_navbar.html" %}
    {% else %}
    {% include "unauth_navbar.html" %}
    {% endif %}
    <div class="container wrapper flex-grow-1">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
    {% bootstrap_javascript %}
</body>
{% include "footer.html" %}

</html>